*{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

header{
    background-color:#011526;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 7vw;
    z-index: 3;
}

#dbienv{
    color:#f8f8f8;
    font-family: 'Paprika', cursive;
    letter-spacing: 0.15em;
    font-weight: normal;
    font-size: 2.2vw;
    padding: 0.1vw 4vw 0.1vw 3vw;
    border: 2px solid #00644f;
    width: fit-content;
    text-align:left;
    position: absolute;
    top:0.6vw;
    left:25vw;
    margin:0%;
    z-index: 4;
}
#bienv{
    padding:0px;
    margin:0px;
}

#dtestcard{
    color:#f8f8f8;
    font-family: 'Paprika', cursive;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 3vw;
    padding: 0.1vw 4.5vw 0.1vw 4.5vw;
    background-color: #00644f;
    width: fit-content;
    position: absolute;
    top:24%;
    left:50vw;
    z-index: 5;
}

#testcard{
    padding:0px;
    margin:0px;
    text-shadow: 0.28vw 0.28vw #011526;
}

#dslogan{
    color:rgb(161, 159, 159);
    font-size:0.9vw;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:56%;
    left:25.7vw;
    z-index: 4;
}

main{
    height: 800px;
    position:fixed;
    left:0px;
    top:5.6vw;
    width: 100%;
    margin:0px;
    z-index: 0;
    padding-bottom: 2px;
}

.bg-image {
    background-image: url(mundo.png);
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    z-index: 0;
}
  

#divBienvenida {
    display:block;
    background-color: rgba(0,0,0,0.75); 
    color: rgb(223, 221, 221);
    border: 3px solid #585858;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#divBienvenida > h2 {
    font-size: 1.7vw;
}

#divBienvenida > h5 {
    font-size: 1vw;
}

#boton1{
    cursor: pointer;
    box-shadow: 2px 5px black;
    font: bold 15px "Ubuntu";
    text-decoration: none;
    text-align: center;
    background-color: #50042e;
    color: white;
    padding: 8px 24px 8px 24px;
    border: 2px solid white;
    border-radius: 6px;
    margin:20px 0px;
}

#boton1:hover{
    background-color: #0f082e;
    color: grey;
}

.boton2{
    cursor: pointer;
    box-shadow: 2px 5px black;
    font: bold 15px "Ubuntu";
    text-decoration: none;
    text-align: center;
    background-color: #551010a2;
    color: white;
    padding: 8px 24px 8px 24px;
    border: 1px solid white;
    border-radius: 6px;
    margin:10px 0px;
}

.boton2:hover{
    background-color: #551010d3;
    color: rgb(150, 150, 150);
}

#digito{
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.507);
    text-align: center;
    color:rgba(255, 255, 255, 0.603);
}

#digito::placeholder{
    text-align: center;
    color:rgba(255, 255, 255, 0.63);
    font-size:1.8vw;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    color:rgb(163, 163, 163);
    background-color: #011526;
    font-size:0.9vw;
    font-family: 'Montserrat', sans-serif;
}

footer > p{
    margin: 0 auto;
    padding: 1px 0px;
}

#divValid {
    background-color: rgba(0,0,0,0.8); 
    color: rgb(223, 221, 221);
    border: 3px solid #585858;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display:none;
}

#divValid > h2{
    color:#8c6104;
    font-size: 2vw;
}

.digcard {
    font-family: 'Source Code Pro', monospace;
    font-size:3vw;
    margin:0px
}

#divInvalid {
    background-color: rgba(0,0,0,0.8); 
    color: rgb(223, 221, 221);
    border: 3px solid #585858;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display:none;
}

#divInvalid > h2{
    color:#c25a31e3;
    font-size: 2vw;
}
